[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pep8 = "*"
autopep8 = "*"
pylint = "*"
tox = "*"
setuptools = "*"
pytest = "*"
tox-pipenv = "*"

[requires]
python_version = "3.7"
